/* Single-Page-Application */

* {
	font-family: 'futura-pt', 'Questrial', sans-serif;
}

nav {
	display: flex;
	flex-direction: row;
	flex-basis: 20%;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
	padding-top: 1.5%;
}

#cornerBtn {
	background-color:#f26925;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #f26925;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	text-decoration:none;
	height: 39px;
	line-height: 0px;

}

#registerBtn:hover {
	background-color:#ffffff;
	color:#f26925;
}

#registerBtn:focus {
	outline: none;
}


input {
	margin-bottom: 10px;
	text-align: left;
}

input:focus {
	border: #f26925 ridge;
	outline: none;
}

form {
	text-align: center;
}

.side-line-outer {
	margin-top:; border-top: 1px solid silver; margin: 20px 16px 0 16px;
}
.side-line-inner {
	position: relative; top: -14px; background: #fff; padding: 5px 15px; font-size: 20px;
}

/* Login form */

#login_username:focus, #login_password:focus{
        border: 1px solid #f26925;
        box-shadow: 5px 5px 0px #f26925;
}

#login-button, #register-button {
    background-color:#f26925 ;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:3px solid #f26925 ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    font-size:15px;
    text-decoration:none;
    height:40px;
    line-height: 0px;
}

#loginForm {

.field {
	text-align: center;
	display: block;
 }
}


#loginForm {
	padding-top: 2%;
}

.icon-remove-sign, .req, .wrong {
	color: red!important;
}

.fa-check-circle {
	color: green!important;
}

/* Placeholders have different css values depending on the browser */

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
	text-align: left;
	padding-left: 2px;
}

/* Firefox 19+ */
::-moz-placeholder {
	text-align: left;
	padding-left: 2px;
}

/* IE 10+ */
:-ms-input-placeholder {
	text-align: left;
	padding-left: 2px;
}

/* Firefox 18- */
:-moz-placeholder {
	text-align: left;
	padding-left: 2px;
}

/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #474c55  ;
    text-align: center;
}

#footer-links a {
    color: #f26925 ;
}

.fa{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    display: inline-block;
  	width: 30px;
  	height: 30px;
}

#footer-brand {
    color: white;
}


.form-horizontal input:focus {
	border: 2px solid #f26925;
  	box-shadow: 0px 0px 0px #f26925;
}
