/* This style sheet applies to the entire login page and changeInfo*/

* {
	font-family: 'futura-pt', 'Questrial', sans-serif;
}
/* Nav bar */
nav {
	display: flex;
	flex-direction: row;
	flex-basis: 20%;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
	padding-top: 1.5%;
}

#registerBtn {
	background-color:#f26925;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #f26925;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding: 12px 30px;
	text-decoration:none;
	font-weight:600;
}
	
#registerBtn:hover {
	background-color:#ffffff;
	color:#f26925;
}

#registerBtn:focus {
	outline: none;
}

.modal label {
	font-size: 1em;
}

#closeModal {
	font-size: 2.5em;
	position: absolute;
	top: 12px;
	right: 25px;
}

#closeModal:focus {
	outline: none;
}

label {
	font-size: 2em;
}

.form-group label{
	font-size: 1.5em;
}

/* Body */
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

input {
	margin-bottom: 10px;
	text-align: left;
}

input:focus {
	border: #f26925 ridge;
	outline: none;
}

form {
	text-align: center;
}

/* Left aligns the labels above the input fields */
#loginForm {
	padding-top: 2%;
	width: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#loginForm {
	padding-top: 2%;
}

.icon-remove-sign, .req, .wrong {
	color: red!important;
}

.fa-check-circle {
	color: green!important;
}

/* Placeholders have different css values depending on the browser */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-align: left;
	padding-left: 2px;
}
::-moz-placeholder { /* Firefox 19+ */
	text-align: left;
	padding-left: 2px;
}
:-ms-input-placeholder { /* IE 10+ */
	text-align: left;
	padding-left: 2px;
}
:-moz-placeholder { /* Firefox 18- */
	text-align: left;
	padding-left: 2px;
}

/* Footer */
footer {
	text-align: right;
	color: #888888;
}