/* Single-Page-Application */

* {
	font-family: 'futura-pt', 'Questrial', sans-serif;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #474c55;
}

.navbar-default {
	margin: 10px;
}


html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	
	
}
.container {
	padding-bottom:100px;
}


.navbar-default {
	background: white;
}


#cornerBtn {
	
	background-color:#f26925 ;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:3px solid #f26925 ;
    display:block;
    cursor:pointer;
    color:#ffffff ;
    font-size:15px;
    text-decoration:none;
    text-align: center;
    height:40px;
    line-height: 7px;
}

#cornerBtn:hover {
	background-color:#ffffff;
	color:#f26925;
}

#cornerBtn:focus {
	outline: none;
}


input {
	margin-bottom: 10px;
	text-align: left;
}

input:focus {
	border: #f26925 ridge;
	outline: none;
}

form {
	text-align: center;
}

.side-line-outer {
	margin-top:; border-top: 1px solid silver; margin: 20px 16px 0 16px;
}
.side-line-inner {
	position: relative; top: -14px; background: #fff; padding: 5px 15px; font-size: 20px;
}

/* Login form */

#login_username:focus, #login_password:focus{
        border: 1px solid #f26925;
        box-shadow: 5px 5px 0px #f26925;
}

#login-button, #register-button {
    background-color:#f26925 ;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:3px solid #f26925 ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    font-size:15px;
    text-decoration:none;
    height:40px;
    line-height: 0px;
}

#loginForm {

.field {
	text-align: center;
	display: block;
 }
}


#loginForm {
	padding-top: 2%;
}

.icon-remove-sign, .req, .wrong {
	color: red!important;
}

.fa-check-circle {
	color: green!important;
}

/* Placeholders have different css values depending on the browser */

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
	text-align: left;
	padding-left: 2px;
}

/* Firefox 19+ */
::-moz-placeholder {
	text-align: left;
	padding-left: 2px;
}

/* IE 10+ */
:-ms-input-placeholder {
	text-align: left;
	padding-left: 2px;
}

/* Firefox 18- */
:-moz-placeholder {
	text-align: left;
	padding-left: 2px;
}

/* Footer */
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #474c55  ;
    text-align: center;
    height: 100px;
}

#footer-links a {
    color: #f26925 ;
}

.fa{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    display: inline-block;
  	width: 30px;
  	height: 30px;
}

#footer-brand {
    color: white;
}


.form-horizontal input:focus {
	border: 2px solid #f26925;
  	box-shadow: 0px 0px 0px #f26925;
}


