/* This style sheet applies to the entire login page and changeInfo*/

* {
	font-family: 'futura-pt', 'Questrial', sans-serif;
}


/* Nav bar */
nav {
	display: flex;
	flex-direction: row;
	flex-basis: 20%;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
	padding-top: 1.5%;
}

#registerBtn {
	background-color:#f26925;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #f26925;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	/*padding: 12px 30px;*/
	text-decoration:none;
	
	height: 39px;
	line-height: 0px;
}
	
#registerBtn:hover {
	background-color:#ffffff;
	color:#f26925;
}

#registerBtn:focus {
	outline: none;
}

.modal label {
	font-size: 1em;
}

#closeModal {
	font-size: 2.5em;
	position: absolute;
	top: 12px;
	right: 25px;
}

#closeModal:focus {
	outline: none;
}

label {
	font-size: 2em;
}

.form-group label{
	font-size: 1.5em;
}

/* Body */
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

input {
	margin-bottom: 10px;
	text-align: left;
	
}

input:focus {
	border: #f26925 ridge;
	outline: none;
}

form {
	text-align: center;
}


/* Login form */

.sign-in-outer {
	margin-top:; border-top: 1px solid silver; margin: 20px 16px 0 16px;
}
.sign-in-inner {
	position: relative; top: -14px; background: #fff; padding: 5px 15px; font-size: 20px;
}

#login_username:focus, #login_password:focus{
        border: 1px solid #f26925;
        box-shadow: 5px 5px 0px #f26925;
}


#login-button {
	background-color: #f26925;
	color: white;
	
}


.icon-remove-sign, .req, .wrong {
	color: red!important;
}

.fa-check-circle {
	color: green!important;
}

/* Placeholders have different css values depending on the browser */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-align: left;
	padding-left: 2px;
}
::-moz-placeholder { /* Firefox 19+ */
	text-align: left;
	padding-left: 2px;
}
:-ms-input-placeholder { /* IE 10+ */
	text-align: left;
	padding-left: 2px;
}
:-moz-placeholder { /* Firefox 18- */
	text-align: left;
	padding-left: 2px;
}

/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #474c55 ;
    text-align: center;
    
    color: #f26925;
    
    
}

#footer-links a {
	color: white;
}

.fa{
padding-top: 15px;
	color: #f26925;
	display: inline-block;
  border-radius: 60px;
 
  
  width: 50px;
  height: 50px;
}

