<div class="container">

<div  ng-controller="registerCtrl" class="form-group">

			<form id="registrationForm" >
				<div class="sign-in-outer">
						<span class="sign-in-inner">Registration </span>
				</div>

<div class="col-sm-offset-3 col-sm-6">
				<div class="row">

					<input class="col-sm-4" name="firstName" class="input-sm" ng-model="firstName" type="text" placeholder="First Name" required/>
					<input class="col-sm-4" name="middleName" class="input-sm" ng-model="middleName" type="text" placeholder="Middle Name"/>
					<input class="col-sm-4" name="lastName" class="input-sm" ng-model="lastName" type="text" placeholder="Last Name" required/>

				</div>
<br>
				<div class="row">

					<input class="col-sm-6" name="phoneNumber" class="input-sm" ng-model="phoneNumber" type="tel" placeholder="Phone"/>
					<input class="col-sm-6" id="reg_username" name="username" class="input-sm" ng-model="userName" type="email" placeholder="Email" required/>

				</div>
<br>
				<div class="row">
					<input class="col-sm-6" name="password" class="input-sm" ng-model="passPhrase" type="password" placeholder="Password" required/>
					<input class="col-sm-6" name="passwordConfirm" class="input-sm" ng-model="passPhraseConfirm" type="password" placeholder="Re-enter Password" required/>
					<!-- <br>
					{{pass}}
					<br> -->
				</div>

				<br>
				<div class="row">
					<input id="register-button" type="button" class="input-lg" value="Submit" ng-click="registerUser(userName, firstName, lastName, middleName, phoneNumber, passPhrase, passPhraseConfirm)" />
				</div>

			</div>
				</form>
</div>
</div>
