<form id="registrationForm">
    <div class="side-line-outer">
        <span class="side-line-inner">Change Password</span>
    </div>
    <div class="col-sm-offset-4 col-sm-4" role="form">
        <input class="input-lg form-control" name="email" ng-model="email" placeholder="Email" required/>
        <input class="input-lg form-control" name="oldpassword" ng-model="oldPassPhrase" type="password" placeholder="Old Password" required/>
        <input class="input-lg form-control" name="newpassword" ng-model="newPassPhrase" type="password" placeholder="New Password" required/>
        <input class="input-lg form-control" name="passwordconfirm" ng-model="passPhraseConfirm" type="password" placeholder="Confirm Password" required/>
        <br>
        <div id="badFormatDiv">{{badFormat}}</div>
        <div id="successMessageDiv" >{{successMessage}}</div>
        <div class="row">
            <input id="register-button" type="button" class="input-lg" value="Update" ng-click="formChangePassword()" />
        </div>
    </div>
</form>
